:not(mat-icon) {
    font-family: 'Victor Mono', monospace;
}

.movie-details {
    margin: 3%;
    padding: 3%;
};

.movie-details-title {
    padding: 3% 0;
    text-align: center;
    font-size: larger;
}

.movie-details-subtitle {
    padding: 3% 0;
}