:not(mat-icon) {
    font-family: 'Victor Mono', monospace;
}

.main-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: #27383e;
    color: white;
}

h1 {
    font-size: 55px;
    text-align: center;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 40%;
}

button {
    margin: 2%;
    padding: 2%;
    font-size: large;
    color: white !important;
    background-color: #cb861a;
    width: 40%;
}