* {
    box-sizing: border-box;
}

:not(mat-icon) {
    font-family: 'Victor Mono', monospace;
}

.profile-div {
    background-color: #27383e;
    padding: 1%;
}

.profile-title {
    color: white;
}

button {
    margin: 1% 1% 1% 0;
    font-size: medium;
    color: white !important;
    background-color: #cb861a;
}

.delete-button {
    background-color: #881515;
    color: white;
}

button:hover {
    border: 1px solid white;
}

.movie-card-div {
    display: flex;
    flex-wrap: wrap;
    background-color: #27383e;
    align-items: center;
    justify-content: space-evenly;
}

.movie-card {
    margin: 1%;
    padding: 1%;
    width: 30%;
    min-height: 100%;
}

.movie-card-title {
    font-size: xx-large;
}

.movie-card-image {
    height: 60vh;
    width: auto;
}

@media (max-width: 1200px) {
    .movie-card-div {
        justify-content: center;
    }

    .movie-card {
        width: 45%;
        min-height: 100%;
    }
}

@media (max-width: 700px) {
    .movie-card {
        width: 95%;
        margin: 5%;
    }
}
