<!DOCTYPE html>
<div>
    <h1>Your profile</h1>
    <mat-card>
        <mat-header>
            <mat-title>Your information</mat-title>
        </mat-header>
        <mat-content>Username</mat-content>
        <mat-content>Password</mat-content>
        <mat-content>Email</mat-content>
        <mat-content>Birthday</mat-content>
    </mat-card>
    <mat-card>
        <mat-header>
            <mat-title>Update your information</mat-title>
        </mat-header>
        <mat-content>Username</mat-content>
        <mat-content>Email</mat-content>
        <mat-content>Birthday</mat-content>
    </mat-card>
</div>
