<!DOCTYPE html>
<p>
    <mat-toolbar color="primary">
      <button
        mat-icon-button
        class="example-icon"
        aria-label="home button"
        (click)="routeToHome()"
      >
        <mat-icon>house</mat-icon>
      </button>
      <span (click)="routeToHome()">myFlix</span>
      <span (click)="routeToProfile()">Profile</span>
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with share icon"
      >
        <mat-icon>logout</mat-icon>
      </button>
    </mat-toolbar>
  </p>
<router-outlet></router-outlet>